In [1]:
import numpy as np
import time

# Get inputs

In [43]:
#with open("test_input.txt") as f:
with open("input.txt") as f:
    inp = f.readlines()
    inp = [line.rstrip() for line in inp]

In [44]:
cleaned = np.array(list(map(int,(inp[0].split(",")))))
cleaned

array([2, 1, 1, 4, 4, 1, 3, 4, 2, 4, 2, 1, 1, 4, 3, 5, 1, 1, 5, 1, 1, 5,
       4, 5, 4, 1, 5, 1, 3, 1, 4, 2, 3, 2, 1, 2, 5, 5, 2, 3, 1, 2, 3, 3,
       1, 4, 3, 1, 1, 1, 1, 5, 2, 1, 1, 1, 5, 3, 3, 2, 1, 4, 1, 1, 1, 3,
       1, 1, 5, 5, 1, 4, 4, 4, 4, 5, 1, 5, 1, 1, 5, 5, 2, 2, 5, 4, 1, 5,
       4, 1, 4, 1, 1, 1, 1, 5, 3, 2, 4, 1, 1, 1, 4, 4, 1, 2, 1, 1, 5, 2,
       1, 1, 1, 4, 4, 4, 4, 3, 3, 1, 1, 5, 1, 5, 2, 1, 4, 1, 2, 4, 4, 4,
       4, 2, 2, 2, 4, 4, 4, 2, 1, 5, 5, 2, 1, 1, 1, 4, 4, 1, 4, 2, 3, 3,
       3, 3, 3, 5, 4, 1, 5, 1, 4, 5, 5, 1, 1, 1, 4, 1, 2, 4, 4, 1, 2, 3,
       3, 3, 3, 5, 1, 4, 2, 5, 5, 2, 1, 1, 1, 1, 3, 3, 1, 1, 2, 3, 2, 5,
       4, 2, 1, 1, 2, 2, 2, 1, 3, 1, 5, 4, 1, 1, 5, 3, 3, 2, 2, 3, 1, 1,
       1, 1, 2, 4, 2, 2, 5, 1, 2, 4, 2, 1, 1, 3, 2, 5, 5, 3, 1, 3, 3, 1,
       4, 1, 1, 5, 5, 1, 5, 4, 1, 1, 1, 1, 2, 3, 3, 1, 2, 3, 1, 5, 1, 3,
       1, 1, 3, 1, 1, 1, 1, 1, 1, 5, 1, 1, 5, 5, 2, 1, 1, 5, 2, 4, 5, 5,
       1, 1, 5, 1, 5, 5, 1, 1, 3, 3, 1, 1, 3, 1])

## Q1

In [45]:
def timeit(method):
    def timed(*args, **kw):
        ts = time.time()
        result = method(*args, **kw)
        te = time.time()
        if 'log_time' in kw:
            name = kw.get('log_name', method.__name__.upper())
            kw['log_time'][name] = int((te - ts) * 1000)
        else:
            print('%r  %2.2f ms' % \
                  (method.__name__, (te - ts) * 1000))
        return result
    return timed

In [46]:
@timeit
def sim_fish(arr):
    for day in range(0,80):
        # count new fish
        new_fish = np.sum(arr == 0)


        # reset mum fish to 6
        arr = np.where(arr == 0, arr + 7, arr)
        # create new fish
        if new_fish != 0:
            arr = np.concatenate((arr, np.array([9]*new_fish)))
            
        # decrement all fish
        arr = np.add(arr, -1)
    return len(arr)

In [47]:
sim_fish(cleaned.copy())

'sim_fish'  39.19 ms

360761

## Q2

In [52]:
@timeit
def sim_fish2(arr):
    fishes = np.full((9),0)
    for el in arr:
        fishes[el] += 1
        
    for day in range(0,256):
        zeros = fishes[0]
        fishes = np.roll(fishes, -1)
        fishes[6] += zeros
        fishes[8] = zeros
    
    return np.sum(fishes)

In [53]:
sim_fish2(cleaned.copy())

'sim_fish2'  15.44 ms

1632779838045